@import "../../../commun/style/style.css";
img {
    display: block;
    margin: auto;
    margin-top: 2%;
}

h1 {
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.accueil{
    background-color: #5c0909;
}
